.spinner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1000;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);

  svg {
    display: inline-block;
    height: 80%;
    max-width: 5rem;
  }
}
