<div class="error-msg" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<form class="login-form card" (submit)="submit()">
  <h1 class="heading-primary">Login</h1>
  <div class="form-control">
    <input
      type="email"
      class="form-control__input"
      [formControl]="login"
      id="login"
      placeholder=" "
    />
    <label for="login">Login</label>
  </div>
  <div class="form-control">
    <input
      type="password"
      class="form-control__input"
      [formControl]="password"
      id="password"
      placeholder=" "
      required
    />
    <label for="password">Password</label>
  </div>
  <button class="btn" type="submit" [disabled]="login.invalid || password.invalid">
    <app-spinner *ngIf="loading$ | async; else buttonLabel" rgbColor="#ffffff"></app-spinner>&nbsp;
    <ng-template #buttonLabel>Submit</ng-template>
  </button>
</form>
