.login-form {
  display: flex;
  flex-direction: column;
  width: 45rem;
  padding: 3rem 6rem;
  margin-top: 4rem;

  .form-control {
    margin-bottom: 2rem;
  }

  .btn {
    position: relative;
  }
}
