*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:disabled,
input:disabled {
  cursor: no-drop;
  opacity: 0.8;
}

a:visited,
a:link {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}
