.card {
  border-radius: 5px;
  box-shadow: var(--big-shadow);
  padding: 3rem;
}

.btn {
  &,
  &:link,
  &:visited {
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s;
    background-color: var(--color-tertiary);
    border: none;
    cursor: pointer;
    box-shadow: var(--small-shadow);
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--primary {
    &::after {
      background-color: var(--color-primary);
    }
  }
}

.form-control {
  font-size: 1.6rem;
  position: relative;
  width: 100%;

  &__input {
    width: 100%;
    padding: 1.7rem 1.5rem;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: inherit;
    transition: border outline 0.1s;
    outline: none;
    margin-bottom: 2px;

    &:hover,
    &:focus {
      border-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__input + label {
    position: absolute;
    margin-left: 1.3rem;
    padding: 0 0.2rem;
    top: 1.7rem;
    left: 0;
    z-index: -1;
    background-color: white;
    transition: all 0.1s;
    color: rgba(0, 0, 0, 0.6);
  }

  &__input:not(:placeholder-shown) + label,
  &__input:focus + label,
  select:valid + label {
    transform: translateY(-2.4rem);
    z-index: 2;
    font-size: 1.2rem;
  }

  &__input:focus {
    margin-bottom: 0;
    border: 2px solid var(--color-tertiary);

    & + label {
      color: var(--color-tertiary);
    }
  }
}

.error-msg {
  color: var(--red);
  background-color: var(--very-light-red);
  padding: 1rem;
  padding-left: 2rem;
  border: 1px solid var(--light-red);
  box-shadow: var(--small-shadow);
  border-radius: 2px;
}
