:root {
  --color-primary: #d81b60;
  --color-secondary: #ff5c8d;
  --color-tertiary: #b0003a;

  --very-light-red: #fdd9d7;
  --light-red: #fbc3c0;
  --red: #7f231c;

  --text-color: #000;
  --bg-color: #fff;
  --border-primary-color: lightgray;

  --small-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  --big-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

  --header-height: 8rem;
  --footer-height: 6rem;
}
