<label class="pagination__items-per-page-label" for="items-per-page">Items per page:</label>
<input
  class="pagination__items-per-page-input"
  id="items-per-page"
  type="number"
  [formControl]="itemsPerPageControl"
  [min]="0"
/>
<span class="pagination__info"
  >{{ (page - 1) * itemsPerPage + 1 }} -
  {{ page === numberOfPages ? totalNumber : page * itemsPerPage }} of {{ totalNumber }}
</span>
<div class="pagination__icons" *ngIf="totalNumber > itemsPerPage">
  <button
    id="previous-page-btn"
    class="pagination__icon clickable"
    (click)="previousPage()"
    [disabled]="page === 1"
  >
    <app-icon [icon]="icons.LEFT_ARROW"></app-icon>
  </button>
  <button
    id="next-page-btn"
    class="pagination__icon clickable"
    (click)="nextPage()"
    [disabled]="page === numberOfPages"
  >
    <app-icon [icon]="icons.RIGHT_ARROW"></app-icon>
  </button>
</div>
