:host {
  display: flex;
  align-items: center;
}

.pagination {
  &__icons {
    margin-left: 2rem;
  }

  &__icon {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    transition: all 0.1s;

    &:hover:not(:disabled) {
      box-shadow: var(--small-shadow);
    }

    & ::ng-deep svg {
      width: 2rem;
      height: 2rem;
      margin-top: 0.3rem;
    }
  }

  &__items-per-page-label {
    margin-right: 1rem;
  }

  &__items-per-page-input {
    border: none;
    border-bottom: 1.5px dotted lightgrey;
    width: 4rem;
    margin-right: 2rem;
    padding: 0.4rem 0;
    text-align: center;
    outline: none;
    transition: 0.2s;

    &:focus,
    &:hover {
      border-color: var(--color-primary);
      box-shadow: var(--small-shadow);
      border: none;
    }
  }
}
