:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  padding: 0 10%;
}

.header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border-primary-color);
  background-color: var(--color-primary);
  box-shadow: var(--small-shadow);

  @media screen and (max-width: 600px) {
    height: auto;
  }
}

.main {
  flex-grow: 1;
  position: relative;
  margin: 4rem 0;

  display: flex;
  justify-content: center;}

.footer {
  height: var(--footer-height);
}
