<header class="header">
  <app-header></app-header>
</header>
<main class="main" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
<footer class="footer">
  <app-footer></app-footer>
</footer>
