<h1 class="heading-primary">List of movies</h1>

<app-data-table
  [rows]="movies$ | async"
  [datatableIdxOffset]="datatableIdxOffset$ | async"
  [columns]="columns"
  [sort]="sort$ | async"
  [spinner]="loading$ | async"
  (select)="onMovieSelect($event)"
  (columnHeaderClick)="sortBy($event)"
>
  <app-pagination
    [totalNumber]="totalItems$ | async"
    [itemsPerPage]="itemsPerPage$ | async"
    [page]="pageNumber$ | async"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</app-data-table>
