:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.brand-heading {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: inherit;
  margin-right: 6rem;

  span {
    font-weight: 700;
  }

  @media screen and (max-width: 600px) {
    margin-right: 0;
    padding: 1.5rem 0;
  }
}

.nav {
  display: flex;
  flex-grow: 1;

  &__icon {
    margin-right: 1rem;
    & ::ng-deep svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    transition: 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      box-shadow: var(--small-shadow);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
      box-shadow: var(--dark-shadow);
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      justify-content: center;
      margin: 0;
      padding: 1.5rem 0;
    }
  }

  &__logout {
    margin-left: auto;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
}
