<h1 class="brand-heading">BOL<span>DARE</span></h1>
<nav class="nav" *ngIf="isAuthenticated$ | async">
  <a class="nav__link" routerLink="/movies"
    ><app-icon class="nav__icon" [icon]="icons.FILM"></app-icon>Movies</a
  >
  <a class="nav__link nav__logout" [routerLink]="" (click)="logout()"
    ><app-icon class="nav__icon" [icon]="icons.LOGOUT"></app-icon>Logout</a
  >
</nav>
