<section class="movie" *ngIf="movie">
  <img class="movie__poster" [src]="movie.posterUrl" />
  <div class="movie__info">
    <h1 class="heading-primary movie__heading">
      <a
        class="movie__title"
        [href]="imdbMovieLink + movie.imdbId"
        target="blank"
        title="Show movie on imdb"
        >{{ movie.title }} ({{ movie.year }})</a
      >
      <span title="metascore" class="movie__metascore">{{ movie.metascore }}</span>
    </h1>
    reżyser: <span class="movie__director">{{ movie.director }}</span>
    <section class="movie__actors">
      <h2 class="movie__actors-heading">Actors</h2>
      <a
        class="movie__actor"
        [href]="imdbActorLink + actor.imdbId"
        target="blank"
        title="Show actor on imdb"
        *ngFor="let actor of movie.actors"
      >
        <img class="movie__actor-image" [src]="findPhotoOfActor(actor) | async" />
        <span class="movie__actor-name">{{ actor.name }}</span>
      </a>
    </section>
  </div>
</section>
