.movie {
  display: flex;
  margin-top: 4rem;

  &__heading {
    display: flex;
    align-items: center;
    margin: 0;

    @media only screen and (max-width: 700px) {
      margin-top: 2rem;
    }
  }

  &__title {
    position: relative;
  }

  &__title::after,
  &__actor-name::after {
    position: absolute;
    display: block;
    content: '';
    height: 4px;
    background-color: var(--color-primary);
    width: 0;
    transition: 0.1s;
  }

  &__title:hover::after,
  &__actor:hover &__actor-name::after {
    width: 100%;
  }

  &__metascore {
    font-size: 2rem;
    display: inline-block;
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--color-secondary);
    box-shadow: var(--big-shadow);
    color: white;
    margin-left: 3rem;
  }

  &__poster {
    display: block;
    height: 50rem;
  }

  &__info {
    padding-left: 4rem;

    @media only screen and (max-width: 700px) {
      margin: 0 auto;
      padding-left: 0;
    }
  }

  &__actors-heading {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  &__actor {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-primary-color);
    }
  }

  &__actor-image {
    display: inline-block;
    width: 5rem;
  }

  &__actor-name {
    position: relative;
    margin-left: 2rem;
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    margin-top: 2rem;
  }
}
