.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  &__heading-row {
    height: 4rem;
    font-size: 1.2rem;
    color: var(--color-tertiary);
    text-align: left;
    border-bottom: 1px solid var(--border-primary-color);
  }

  &__heading-label {
    display: flex;
    align-items: center;
  }

  &__row {
    height: 5rem;
    border-bottom: 1px solid var(--border-primary-color);
  }

  &__row:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);
  }

  &__row > td,
  &__heading-row > th {
    padding: 0 2rem;
  }
}

.pagination {
  float: right;
  height: 6rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

::ng-deep {
  .sort-icon svg {
    transition: 0.1s;
    margin-top: 0.5rem;
  }

  .sort-icon.rotate svg {
    transform: rotate(180deg);
  }
}
