<table class="table card">
  <app-spinner *ngIf="spinner"></app-spinner>
  <tr class="table__heading-row">
    <th>No.</th>
    <th class="clickable" *ngFor="let col of columns" (click)="onColumnHeaderClick(col.key)">
      <span class="table__heading-label"
        >{{ col.label }}
        <app-icon
          class="sort-icon"
          *ngIf="sort.sortBy === col.key"
          [class.rotate]="sort.sortDir === sortDir.Desc"
          [icon]="icons.ARROW_UP"
        ></app-icon>
      </span>
    </th>
  </tr>
  <tr class="table__row" *ngFor="let row of rows; let i = index" (click)="onSelect(row)">
    <td>{{ i + 1 + datatableIdxOffset }}.</td>
    <td *ngFor="let col of columns">{{ row[col.key] }}</td>
  </tr>
  <tfoot [hidden]="paginationConatiner.childNodes.length === 0">
    <td [attr.colspan]="columns.length + 1">
      <div class="pagination" #paginationConatiner>
        <ng-content select="app-pagination"></ng-content>
      </div>
    </td>
  </tfoot>
</table>
